<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">title</th>
        <th scope="col">Restaurant</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <% Infos.forEach( function(model) {%>
    <tr>
        <td><%=model.id%></td>
        <td><%=model.title%></td>
        <td><%=model.restaurant%></td>
        <td><a href="/info/update/<%= model.id%>" class="btn btn-primary">Update</a></td>
        <td><a href="/info/delete/<%= model.id%>" class="btn btn-primary">Delete</a></td>
        <td><a href="/info/member/<%= model.id%>" class="btn btn-primary">Member</a></td>
    </tr>
    <%});%>
</table>