<div class="row">

    <div id="hki" class="col-xl-4 col-12 col-sm-6 col-lg-6">
        <h6>HK Island</h6>
        <% Infos.forEach( function(model) {
        if(model.district == 'HK Island'){%>
        <div class="card" style="width: 17rem;margin:5px;">
            <img style="max-height: 150px;max-width:300px;" class="card-img-top" src="<%= model.image%>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-primary"><%= model.title%></h5>
                <p class="card-text">Coins:<%= model.coin%></p>
                <a href="/info/view/<%= model.id%>" class="btn btn-primary">Know more</a>
            </div>
        </div>
        <%}%>
        <% }); %>
    </div>

    <div id="kol" class="col-xl-4 col-12 col-sm-6 col-lg-6">
        <h6>Kolwoon</h6>
        <% Infos.forEach( function(model) {
        if(model.district == 'Kowloon'){%>
        <div class="card" style="width: 17rem;margin:5px;">
            <img style="max-height: 150px;max-width:300px;" class="card-img-top" src="<%= model.image%>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-primary"><%= model.title%></h5>
                <p class="card-text">Coins:<%= model.coin%></p>
                <a href="/info/view/<%= model.id%>" class="btn btn-primary">Know more</a>
            </div>
        </div>
        <%}%>
        <% }); %>
    </div>

    <div id="nt" class="col-xl-4 col-12 col-sm-6 col-lg-6">
        <h6>New Territories</h6>
        <% Infos.forEach( function(model) {
        if(model.district == 'New Territories'){%>
        <div class="card" style="width: 17rem;margin:5px;">
            <img style="max-height: 150px;max-width:300px;" class="card-img-top" src="<%= model.image%>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-primary"><%= model.title%></h5>
                <p class="card-text">Coins:<%= model.coin%></p>
                <a href="/info/view/<%= model.id%>" class="btn btn-primary">Know more</a>
            </div>
        </div>
        <%}%>
        <% }); %>
    </div>
</div>
