<% var count = 0;%>
<div class="row">
    <% infos.forEach( function(model) {
    count++;%>
    <div id="info" class="col-xl-4 col-12 col-sm-12 col-lg-6">
        <div class="card" style="width: 20rem;margin:5px;">
            <img style="max-height: 200px;max-width:350px;" class="card-img-top" src="<%= model.image%>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-primary"><%= model.title%></h5>
                <p class="card-text">Coins:<%= model.coin%></p>
                <a href="/info/view/<%= model.id%>" class="btn btn-primary">Know more</a>
            </div>
        </div>
    </div>
    <% }); %>
    <div id="info" class="card col-xl-4 col-12 col-sm-12 col-lg-6" >
        <form action="/info/search" method="POST">
            <h2>Search</h2>
            <label for="basic-url">District:</label>
            <select name="Info[district]" class="form-control" id="district" onchange="changeMall(this)">
                <option value="All">All Districts</option>
                <option value="HK Island">HK Island</option>
                <option value="Kowloon">Kowloon</option>
                <option value="New Territories">New Territories</option>
            </select>
            <div>
                <label for="basic-url">Coin:</label>
                <input id="coins" name="Info[coin]" type="text" class="form-control" placeholder="value">
            </div>
            <div data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                <label for="basic-url">Date Valid Till:</label>
                <input id="datepicker" name="Info[date]" class="form-control" value="10/10/2018">
            </div>
            <div class="row mx-auto" style="margin:10px;">
                <input type="submit" class="btn btn-lg btn-primary" value="Submit">&nbsp&nbsp
                <input type="reset" class="btn btn-lg btn-light" value="Clear">
            </div>
        </form>
    </div>
    <% const current = Number(req.query.page || 1); %>
    <div id="info" class="col-xl-4 col-12 col-sm-12 col-lg-6">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="/info/search/?page=<%= Math.max(current-1, 1) %>">Previous</a>
                </li>

                <% for (i = 1; i <= count; i++) { %>
                <li class="page-item">
                    <a class="page-link" href="/info/search/?page=<%= i %>"><%= i %></a>
                </li>
                <% } %>

                <li class="page-item">
                    <a class="page-link" href="/info/search/?page=<%= Math.min(current+1, count) %>">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
